
.NewChatDIV{
    font-size: 16px;
   
}
.NewChatDIV h1{
     font-family:'Times New Roman', Times, serif;
}

.Chats{
    /* border: 2px solid red ; */
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height:80vh  ;
    overflow-x: auto;
    
}
@media (min-width:1000px) and (max-width: 1345px ) {
    .Chats{
         width: 80%;
    }
}
@media  (max-width:999px ) {
    .Chats{
         width: 98%;
    }
}
.userDiv{
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.userMessage{
    background-color: rgba(78, 70, 70, 0.362);
    padding: 13px ;
    border-radius: 23px ;
    max-width: 70% ;
    width: fit-content;
}

hr{
    margin: 22px 0 ;
    width: 96%;
    opacity: 0.3;
}

.Chats::-webkit-scrollbar {
  display: none;
}

.GPTMessage pre {
  background: #0d1117;
  padding: 16px;
  border-radius: 12px;
  overflow-x: auto;
}

.GPTMessage code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: 14px;
}


.hljs .hljs-keyword,
.hljs .hljs-selector-tag {
  color: #ff7b72 !important;
}

.hljs .hljs-string {
  color: #7ee787 !important;
}

.hljs .hljs-comment {
  color: #8b949e !important;
  font-style: italic;
}
.GPTMessage {
  line-height: 1.8;
  white-space: normal;
}